@model IEnumerable<PolicyHolder>
@{
    ViewData["Title"] = "Index";
}

<div class="container p3-">
    <div class="row pt-4 align-items-center">
        <div class="text-center col-sm-6 text-sm-start">
            <h2 class="text-primary">Pojištěnci</h2>
        </div>
        <div class="text-center col-sm-6 text-sm-end">
            <a asp-controller="PolicyHolder" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Přidat nového pojištěnce
            </a>
        </div>
    </div>
    <hr class="border-2 border-top border-primary">


@*<table class="table table-bordered table-striped table-responsive" style="width:100%">
    <thead>
        <tr>
            <th>
                Pojištěnec
            </th>
            <th>
                Adresa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach(var obj in Model)
        {
            <tr>
                <td width=35% class="align-middle">
                    @obj.Name @obj.LastName
                </td>
                <td width=35% class="align-middle">
                    @obj.StreetName @obj.BuildingNumber, @obj.CityName, @obj.ZIPCode
                </td>
                <td width=30%>
                    <div class="w-100 btn-group" role="group">
                        <a asp-controller="PolicyHolder" asp-action="Edit" asp-route-id="@obj.Id" 
                        class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>&nbsp;Editovat</a>
                        <a asp-controller="PolicyHolder" asp-action="Delete" asp-route-id="@obj.Id" 
                        class="btn btn-danger mx-2"><i class="bi bi-trash"></i>&nbsp;Smazat</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>*@

    <div class="row pt-4">
        <div class="col-6 col-sm-4 text-decoration-underline">Pojištěnec</div>
        <div class="col-6 col-sm-4 text-decoration-underline">Adresa</div>
    </div>

    @foreach(var obj in Model) 
    {   //Vypsání pojištěnců
        <div class="row pt-4 align-items-center">
            <div class="col-3 col-sm-2">@obj.Name @obj.LastName</div>          
            <div class="col-3 col-sm-2 text-center">    
                <a asp-controller="PolicyHolderDetail" asp-action="Detail" asp-route-id="@obj.Id" 
                class="btn btn-light"><i class="bi bi-card-text"></i>&nbsp;Detail</a>
            </div>       
            <div class="col-6 col-sm-4">@obj.StreetName @obj.BuildingNumber, @obj.CityName, @obj.ZIPCode</div> 

            <div class="col-12 col-sm-4">
                <div class="d-flex flex-column flex-lg-row justify-content-end">
                    <a asp-controller="PolicyHolder" asp-action="Edit" asp-route-id="@obj.Id" 
                    class="btn btn-primary"><i class="bi bi-pencil-square"></i>&nbsp;Editovat</a>
                    <a asp-controller="PolicyHolder" asp-action="Delete" asp-route-id="@obj.Id" 
                    class="btn btn-danger"><i class="bi bi-trash"></i>&nbsp;Odstranit</a>
                </div>
            </div>
            @*<div class="col-12 col-sm-4 btn-group" role="group">
                <a asp-controller="PolicyHolder" asp-action="Edit" asp-route-id="@obj.Id" 
                class="btn btn-primary w-50"><i class="bi bi-pencil-square"></i>&nbsp;Editovat</a>
                <a asp-controller="PolicyHolder" asp-action="Delete" asp-route-id="@obj.Id" 
                class="btn btn-danger w-50"><i class="bi bi-trash"></i>&nbsp;Odstranit</a>
            </div>  *@    
        </div>
    }
    

   @* <div class="d-flex justify-content-center pt-4">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&raquo;</a>
        </li>
      </ul>
    </div>*@

</div>